build
build/Oopsie
.cache/
.agent
*.exe
*.o
*.so
*.a
*.obj
*.lib
*.dll
*.dSYM
*.py
*.pyc
*.pyo
build/Makefile
build/Oopsie
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Oopsie.dir/build.make
build/CMakeFiles/Oopsie.dir/flags.make
build/CMakeFiles/Oopsie.dir/link.d
build/CMakeFiles/Oopsie.dir/link.txt
build/CMakeFiles/Oopsie.dir/src/main.c.o
build/CMakeFiles/Oopsie.dir/src/main.c.o.d
build/compile_commands.json
compile_commands.json
